VITE_FIREBASE_API_KEY=AIzaSyCU0khorVMOaLjJjSbMHDmpkTvJ9bWMXMw
VITE_FIREBASE_AUTH_DOMAIN=chunks-reading.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chunks-reading
VITE_FIREBASE_STORAGE_BUCKET=chunks-reading.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=602623023236
VITE_FIREBASE_APP_ID=1:602623023236:web:4284ca000ba48fdf1c8ad1
VITE_FIREBASE_MEASUREMENT_ID=G-P437REL523
